@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply bg-secondary cursor-default
}

@media only screen and (min-width: 768px) {
    #root {
        background: transparent radial-gradient(40% 40% at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), rgba(0, 209, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%) no-repeat 0 0
    }   
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-primary-outline {
    @apply text-primary border-2 border-primary;
}

.btn-primary-outline:hover {
    @apply bg-primary text-white;
}

.card {
    @apply p-2 rounded shadow-md shadow-primary;
}

.card:hover {
    @apply shadow-lg shadow-primary;
}

.pill {
    @apply border-2 rounded-full px-4 py-1 text-xs;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.logo {
    min-width: 30px;
    width: 30px;
}
